
$blue: #000;

/*css4在root中声明变量*/

:root{
	--parimary-color:skyblue;
}

.title{
	color: $blue;
}
.head{
	font-size: 20px;
	size: auto;
	color: $blue;
	position: fixed 0 0 *; 
	border: 1px solid $blue;
	background-color: var(--parimary-color);
	transform: scale(.8);
}
